{
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "plugins": ["svelte"],
  "arrowParens": "avoid",
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "endOfLine": "lf"
}
