{
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": true,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-package"],
  "arrowParens": "avoid",
  "tabWidth": 2,
  "trailingComma": "none",
  "semi": true,
  "useTabs": false,
  "singleQuote": false,
  "endOfLine": "lf"
}
