*, *::before, *::after {
	font-family: inherit;
	box-sizing: border-box;
}


@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-display: swap;
  src: url(fonts/Roboto-VK-Normal.woff) format('woff'),
    url(fonts/Roboto-VK-Normal.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-display: swap;
  src: url(fonts/Roboto-VK-Medium.woff) format('woff'),
    url(fonts/Roboto-VK-Medium.woff) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-display: swap;
  src: url(fonts/Roboto-VK-Bold.woff) format('woff'),
    url(fonts/Roboto-VK-Bold.woff) format('woff2');
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 12.5px;
}

@media (max-width: 700px) {
	body {
		font-size: 14px;
	}
}
